# Cabal Build files
/dist
/dist-newstyle
/.stack-work
/.cabal-sandbox
/cabal.sandbox.config

# Stack build files
/atlassian-connect-descriptor.cabal

# IntelliJ Idea
*.iml
/.idea

# Dependencies
*.dot
*.out
*.ps
